@import "../../constants.scss";

section {
    height: 100vh;
    display: flex;

    main {
        width: calc(100% - 250px);
        height: 100%;

        h2 {
            font-size: 24px;
            margin-top: 30px;
            padding-left: 20px;
        }

        .table {
            overflow-x: auto;

            .table-titles {
                display: flex;
                min-width: 1500px;
                height: auto;
                font-weight: bold;

                p {
                    padding-left: 20px;
                    min-width: 350px;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}
