// Backgrounds
$bg-grey: #f4f4f4;
$bg-darker-grey: #e0e0e0;
$bg-white: white;

// Buttons
$btn-color: #a345df;
$btn-color-hover: #7d45df;
$btn-color-text: white;
$btn-disabled: #f5f5f5;

// Text Colors
$primary-text-color: black;
$secondary-text-color: #666c89;
$btn-disabled-text: #d4d4d8;
