@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@import "./constants.scss";

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.button {
    padding: 10px 20px;
    color: white;
    background-color: $btn-color;
    border: 0;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;

    &:hover {
        background-color: $btn-color-hover;
    }
}

.display-none {
    display: none !important;
}

@media only screen and (max-width: 769px) {
    .mobile-display-none {
        display: none !important;
    }
}
