// @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@import "./constants.scss";

body {
    margin: 0;
}

body.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.button {
    padding: 10px 20px;
    color: white;
    background-color: $btn-color;
    border: 0;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;

    &:hover {
        background-color: $btn-color-hover;
    }
}

.display-none {
    display: none !important;
}

.margin-bottom-5 {
    margin-bottom: 5px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-top-10 {
    margin-top: 10px;
}

@media only screen and (max-width: 769px) {
    .mobile-display-none {
        display: none !important;
    }
}
