@import "../../constants.scss";

.categories-list-section {
    height: 100vh;
    display: flex;
    position: relative;

    .category-modal-wrapper {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;

        .close-modal {
            text-align: end;
            margin-top: 0;
            cursor: pointer;
        }

        .add-new-category-modal,
        .edit-category-modal {
            width: 40%;
            max-height: 80%;
            border-radius: 25px;
            background-color: white;
            display: flex;
            flex-direction: column;
            padding: 20px 40px;

            .sub-categories-container {
                overflow-y: auto;
                height: 100%;
                box-sizing: border-box;

                .input-group-container {
                    .input-group {
                        height: 100%;
                        position: relative;

                        .remove-input-group {
                            position: absolute;
                            top: 50%;
                            right: 0;
                            transform: translate(0, -50%);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                            font-size: 16px;

                            svg {
                                color: grey;
                            }
                        }
                    }
                }
            }

            .close-modal {
                text-align: end;
                margin-top: 0;
                cursor: pointer;
            }

            h3 {
                margin-top: 0;
                text-align: center;
            }

            input {
                padding: 15px;
                width: 85%;
                border-radius: 25px;
                border: 1px solid #eaeaea;
            }

            .category-name {
                margin-bottom: 10px;
                color: $secondary-text-color;
            }

            .add-new-subCategory {
                color: $btn-color;
                cursor: pointer;

                &:hover {
                    color: $btn-color-hover;
                }
            }

            .button {
                width: 100%;
            }

            .error-textarea-span {
                color: #ff0000 !important;
            }

            .error-text {
                visibility: hidden;
                display: none;
                margin-top: 5px;
                font-size: 12px;
            }

            .error {
                color: #ff0000 !important;
                visibility: visible;
                display: block;
            }
            .error-input {
                border-color: #ff0000 !important;
            }
        }

        .edit-category-modal {
        }

        .delete-category-modal {
            background-color: white;
            width: 40%;
            max-height: 80%;
            border-radius: 25px;
            display: flex;
            flex-direction: column;
            padding: 20px 40px;

            h3,
            h4,
            p {
                margin: 8px 0;
                text-align: center;
            }

            .button {
                margin-top: 10px;
            }
        }
    }

    main {
        width: calc(100% - 250px);
        height: 100%;

        .categories-list-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;

            h2 {
                font-size: 24px;
                margin-top: 30px;
            }

            .button {
            }
        }

        .list {
            overflow: auto;
            padding: 20px;
            height: 80%;

            .category-item-container {
                margin-bottom: 20px;

                .row {
                    background-color: #e9e9e9;
                    box-shadow: 0 0 5px rgb(155, 155, 155);
                    display: flex;
                    justify-content: space-between;
                    border-radius: 8px;
                    height: 50px;

                    .first-column {
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;

                        svg {
                            width: 20px;
                            margin: 0 10px;
                        }
                    }

                    .edit-delete-icons {
                        height: auto;
                        display: flex;
                        align-items: center;

                        & > div {
                            width: 32px;
                            height: 32px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 50%;
                            background-color: $secondary-text-color;
                            margin: 0 10px;

                            img {
                                width: 60%;
                                height: auto;
                            }

                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }

                .dropdown-slider {
                    height: 0px;
                    visibility: hidden;
                    border-radius: 0 0 8px 8px;
                    overflow: hidden;

                    .variant {
                        height: 35px;
                        padding: 0 20px;
                        display: flex;
                        align-items: center;
                        background-color: $bg-grey;
                        border-top: 1px solid grey;
                        color: $secondary-text-color;

                        .checkbox-round {
                            width: 20px;
                            height: 20px;
                            background-color: white;
                            border: 1px solid #ddd;
                            border-radius: 50%;
                            margin-right: 10px;
                            // background-color: $btn-color;

                            & > svg {
                                width: 100%;
                                height: 100%;
                                color: $btn-color;
                            }
                        }
                    }
                }

                .clicked {
                    visibility: visible;
                    height: auto;
                }

                .row-clicked {
                    border-radius: 8px 8px 0 0;
                }
            }
        }
    }
}
