@import "../../constants.scss";

section {
    height: 100vh;
    display: flex;

    main {
        width: calc(100% - 250px);
        height: 100%;

        h2 {
            font-size: 24px;
            margin-top: 30px;
        }

        .list {
            overflow-x: auto;
            padding: 20px;

            .row {
                background-color: #f4f4f4;
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
                border-radius: 8px;
                height: 50px;

                .first-column {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;

                    svg {
                        width: 20px;
                        margin: 0 10px;
                    }
                }

                .edit-delete-icons {
                    width: 15%;
                    display: flex;
                    align-items: center;

                    & > div {
                        width: 32px;
                        height: 32px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                        background-color: $secondary-text-color;
                        margin-left: 20px;

                        img {
                            width: 100%;
                        }

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}
