@import "../../constants.scss";

.footer {
    background-color: $bg-white;
    .container {
        height: 200px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        // & > div {
        //     width: 30%;
        // }

        .footer-logo-container {
            width: 20%;
            height: 100%;
            display: flex;
            align-items: center;
            box-sizing: border-box;

            a {
                width: 50%;
                height: 25%;

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }

        .footer-links-container {
            height: 100%;
            padding: 20px 20px 0 20px;
            box-sizing: border-box;

            .something {
                a {
                    text-decoration: none;
                    color: black;
                    height: max-content;
                    display: flex;
                    justify-content: space-between;

                    p {
                        margin: 0;
                        margin-bottom: 20px;
                    }
                }
            }

            p {
                margin: 0;
                font-weight: bold;
                margin-bottom: 20px;
            }

            & > span {
                display: block;
                margin-bottom: 10px;
            }

            & > div {
                display: flex;
                align-items: center;
                height: max-content;

                .mail-icon-container {
                    margin-right: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    svg {
                        width: 50px;
                    }
                }
            }
        }

        .footer-links-container.english-format {
            box-sizing: border-box;
            width: 300px;
        }

        .footer-info-container {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            text-align: end;
            padding-top: 20px;
            box-sizing: border-box;

            p {
                margin-top: 0;
                margin-bottom: 10px;
            }

            span {
                a {
                    text-decoration: none;
                    color: $btn-color;
                    font-weight: bold;

                    &:hover {
                        color: $btn-color-hover;
                    }
                }
            }

            .all-rights-reserved {
                font-size: 12px;
                margin-bottom: 55px;
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    .footer {
        .container {
            .footer-logo-container {
                width: 30%;
            }

            .footer-links-container.english-format {
                padding-left: 20px;
            }

            .footer-info-container {
                .all-rights-reserved {
                    margin-bottom: 30px;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .footer {
        padding: 45px 0 25px 0;
        .container {
            height: auto;
            flex-direction: column;

            & > div {
                width: unset;
                * {
                    text-align: center;
                }
            }

            .footer-logo-container {
                justify-content: center;

                a {
                    width: 120px;
                }
            }

            .footer-links-container {
                margin: 30px 0;
                padding-left: 0;

                div {
                    justify-content: center;
                }

                a {
                    p {
                        margin-bottom: 16px;
                    }
                }

                & > p {
                    margin-bottom: 16px;
                }
            }

            .footer-links-container.english-format {
                box-sizing: border-box;
                padding-left: 130px;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .footer {
        .container {
            .footer-links-container {
                padding: 0;
            }

            .footer-links-container.english-format {
                padding-left: 0;
                flex-direction: column;

                a {
                    justify-content: center;
                }

                p {
                    text-align: center;
                }
            }
        }
    }
}
